@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-white transition-colors duration-200;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #283928;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #3b543b;
}